.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-size: cover;
}

.swiper-slide:nth-child(1n) {
  background-image: url("../assets/book1.jpg");
}

.swiper-slide:nth-child(2n) {
  background-image: url("../assets/book2.jpg");
}

.swiper-slide:nth-child(3n) {
  background-image: url("../assets/book3.jpg");
}

.swiper-slide:nth-child(4n) {
  background-image: url("../assets/book4.jpg");
}

.swiper-slide:nth-child(5n) {
  background-image: url("../assets/book5.jpg");
}

.swiper-slide:nth-child(6n) {
  background-image: url("../assets/book6.jpg");
}

.swiper-slide:nth-child(7n) {
  background-image: url("../assets/book7.jpg");
}

.swiper-slide:nth-child(8n) {
  background-image: url("../assets/book8.jpg");
}

.swiper-slide:nth-child(9n) {
  background-image: url("../assets/book9.jpg");
}

.swiper-slide:nth-child(10n) {
  background-image: url("../assets/book1.jpg");
}
